// For loop

// each loop

@for $value from 1 through  5{
    .loop-for{
        width: $value + px;
    }
}

// form and through is count hole number
// form and to is count one less number like 1 to 5 so answer is 1 ,2 ,3, 4



// this way to use simple map function  but this is not map concept 
// $map : 1,4,5,6;


$map : (
    one : 1,
    two: 2,
    three : 3
);

@each $map-name ,$map-value in $map {
    .map-loop{
        width: $map-name;
    }
}

